@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/*react transitions*/
/*fade*/
.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

/*pop*/
.pop-enter {
  opacity: 0;
  transform: scale(0);
}

.pop-exit {
  opacity: 1;
  transform: scale(0);
}

.pop-enter-active {
  opacity: 1;
  transform: scale(1);
}

.pop-exit-active {
  opacity: 0;
  transform: scale(0);
}

.pop-enter-active,
.pop-exit-active {
  transition: all 500ms;
}

/*slide-from-left*/
.slide-from-left-enter {
  opacity: 0;
  transform: translateX(-100px);
}

.slide-from-left-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-from-left-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.slide-from-left-exit-active {
  opacity: 0;
  transform: translateX(200px);
}

.slide-from-left-enter-active,
.slide-from-left-exit-active {
  transition: all 500ms;
}